<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <h2>Cross Trainig Activities</h2>

        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
 
    <div class="navbar-collapse collapse">
        <!--<div class="pull-right navbar-logo" data-ng-show="  vm.uservalue.IsAdmin">
        
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/add" class="btn btn-primary">Membres</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/add" class="btn btn-primary">Exercices</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/add" class="btn btn-primary">Wods</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/add" class="btn btn-primary">Skills</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/add" class="btn btn-primary">Wanup</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/add" class="btn btn-primary">Programmes</a>
                </li>
            </ul>
        </div>-->
        <!--<div class="pull-right navbar-logo" >
            <ul class=" nav navbar-nav pull-right">
            <li>
                <a href="#/add" class="btn btn-primary">Programmes</a>
            </li>
            </ul>
        </div>-->
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/add" class="btn btn-primary">S'inscrire</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#/logon" class="btn btn-primary">Se connecter</a>
                </li>
            </ul>
            </div>
        </div>
</nav>
